---
import type { ProjectItem } from '../data/projects';

type Props = {
  items: ProjectItem[];
};

const { items } = Astro.props;
---

<section aria-labelledby="projects-heading" class="space-y-4">
  <h2 id="projects-heading">Selected Projects</h2>
  <div class="flex flex-col gap-6">
    {items.map((project) => (
      <article class="space-y-2">
        <div class="flex flex-col gap-1">
          <h3>
            {project.href ? (
              <a href={project.href}>{project.name}</a>
            ) : (
              project.name
            )}
          </h3>
          <p>{project.description}</p>
        </div>
        {project.highlights && project.highlights.length > 0 && (
          <ul class="list-disc pl-5">
            {project.highlights.map((item) => (
              <li>{item}</li>
            ))}
          </ul>
        )}
      </article>
    ))}
  </div>
</section>
